<form action="/payment/results">
  <label for="inp_apr">APR</label>
  <input type="text" name="apr" id="inp_apr" placeholder="E.g. 5.42">
  <br>
  <label for="inp_years">Number of years</label>
  <input type="number" name="years" id="inp_years" placeholder="How many years to repay?">
  <br>
  <label for="inp_pv">Principal</label>
  <input type="text" name="pv" id="inp_pv" placeholder="How much principal?">
  <br>
  <button>Pick random number</button>
</form>
