<form action="/random/results">
  <label for="min_value">Minimum</label>
  <input type="text" name="min_val" id="min_value" placeholder="E.g. 1.5">
  <br>
  <label for="max_value">Maximum</label>
  <input type="text" name="max_val" id="max_value" placeholder="E.g. 4.5">
  <br>
  <button>Pick random number</button>
</form>
